/*-------------*/
/*--- FONTS ---*/
/*-------------*/

$kaushanFont: 'Kaushan Script', cursive;
$orbitronFont: 'Orbitron', sans-serif;

/*--------------*/
/*--- COLORS ---*/
/*--------------*/

$blue: #5b78c8;
$purple: #ab5bc8;
$green: #78c85b;
$orange: #c8ab5b;